body {
  margin: 0;
  background-image: url(./img/wood-background.jpg);
}

/* < --------------------------------- Main --------------------------------- > */

main {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aqua;
  margin: 20px;
}

main h1 {
  color: white;
  font-size: 6.5rem;
  margin: 50px;
  text-shadow: 2px 2px 2px #000;
}
 
main h3 {
  color: white;
  margin-bottom: 50px;
  text-shadow: 2px 2px 2px #000;  
}

.container {
  background-color: aliceblue;
  border: 15px solid rgb(223, 12, 5);
  background-color: bisque;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* < --------------------------------- Dice --------------------------------- > */
.dice--container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  padding: 10%;
  justify-content: center;
}

.dice {
  background-color: white;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .8rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.dice--held {
  background-color: greenyellow;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .8rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn {
  height: 40px;
  width: 150px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  align-self: center;
  margin-bottom: 40px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 119, 255, 0.753);
  color: white;
}

.logo--img {
  margin-top: 25px;
  max-width: 20%;
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
body {
  background-color: aqua;
  background-image: none;
}

main {
  margin: 0;
  margin-left: 25px;
}

  .container {
    margin: 60px;
  }
  
  .dice {
    height: 32px;
    width: 32px;
  }
}